### Function

In [58]:
from warnings import filterwarnings
filterwarnings("ignore")

In [59]:
###

#### Built in functions

print("Hello World")

In [60]:
print("Hello world")

Hello world

In [61]:
print(3*4)

12

In [62]:
a =[1, 2, 3, 4,5]
len(a)

5

In [63]:
sum(a)

15

In [64]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

### user define function

In [65]:
def add(a: int|float,b: int|float) ->int|float:
 c = a + b
 return c

In [66]:
a1 = add(3, 4)
a1

7

In [67]:
type(a1)

int

In [68]:
a2 = add(3.5,2)
a2

5.5

In [69]:
type(a2)

float

In [70]:
## Argument inside the function
add(5,7)

12

In [71]:
# keyword argument
add(a=12,b=15)

27

In [72]:
add(3,4,5)

TypeError: add() takes 2 positional arguments but 3 were given

In [ ]:
add(4)

TypeError: add() missing 1 required positional argument: 'b'

### Varidac functions

In [ ]:
1 function(*args)
*args act like a tuple here in python

SyntaxError: invalid decimal literal (2798752808.py, line 1)

In [ ]:
def func(*args):
    print(args, type(args))
    for i in args:
        print(i)
    return args

In [ ]:
b1 = func(2, 3)

(2, 3) <class 'tuple'>
2
3

In [ ]:
b1

(2, 3)

In [ ]:
b2 = func(4, 5, "Example", True, 5.4, 10.5, False)

(4, 5, 'Example', True, 5.4, 10.5, False) <class 'tuple'>
4
5
Example
True
5.4
10.5
False

In [ ]:
b3 = func("Sarthak", "Raman", "Rahul")

('Sarthak', 'Raman', 'Rahul') <class 'tuple'>
Sarthak
Raman
Rahul

### write a function to add any amount of numbers

In [73]:
def add_multiple(*args):
    # Intialize sum to 0
    s = 0
    
    # Apply for loop on args
    for i in args:
        s = s + i
    
    # Return the value of s
    return s

In [74]:
add_multiple(3, 5)

8

In [75]:
add_multiple(3, 4, 5, 6)

18

In [76]:
3 + 4 + 5 + 6

18

In [77]:
add_multiple(5, 6, 7, 8, 10, 11)

47

In [78]:
range(1, 101)

range(1, 101)

In [80]:
c = list(range(1, 101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [81]:
# unpack and provide list / tuple as input
add_multiple(*c)

5050

### Billing Example

In [82]:
cart1 = [
    ("Laptop", 54000,2),
    ("Headphones",1500,4),
    ("Mouse",500,2),
    ("Keyboard",1200,1),
    ("Mouse pad",300,2)
]

In [83]:
def billing(cart_id: int, *args) -> int|float:
    # Intialize the total to 0
    total = 0

    # Print the cart id
    print(f"Cart Id : {cart_id}")
    # Apply for loop on args
    for product, price, qty in args:
        item_total = price*qty
        total = total + item_total
        print(f"Product : {product}, Price : {price} INR, Qty : {qty} Nos")
        print(f"Item Total : {item_total:.2f} INR")
        print("\n================================================================\n")

    # Show the total
    print(f"Final Total : {total:.2f} INR")
    return total

In [84]:
cart1

[('Laptop', 54000, 2),
 ('Headphones', 1500, 4),
 ('Mouse', 500, 2),
 ('Keyboard', 1200, 1),
 ('Mouse pad', 300, 2)]

In [85]:
c1 = billing(101, *cart1)

Cart Id : 101
Product : Laptop, Price : 54000 INR, Qty : 2 Nos
Item Total : 108000.00 INR

================================================================

Product : Headphones, Price : 1500 INR, Qty : 4 Nos
Item Total : 6000.00 INR

================================================================

Product : Mouse, Price : 500 INR, Qty : 2 Nos
Item Total : 1000.00 INR

================================================================

Product : Keyboard, Price : 1200 INR, Qty : 1 Nos
Item Total : 1200.00 INR

================================================================

Product : Mouse pad, Price : 300 INR, Qty : 2 Nos
Item Total : 600.00 INR

================================================================

Final Total : 116800.00 INR

In [86]:
c1

116800

In [87]:
c2 = billing(
    102,
    ("GPU",50000,1),
    ("RAM", 5000, 2)
)

Cart Id : 102
Product : GPU, Price : 50000 INR, Qty : 1 Nos
Item Total : 50000.00 INR

================================================================

Product : RAM, Price : 5000 INR, Qty : 2 Nos
Item Total : 10000.00 INR

================================================================

Final Total : 60000.00 INR

In [88]:
c2

60000

In [89]:
help(billing)

Help on function billing in module __main__:

billing(cart_id: int, *args) -> int | float

#### keyword Argument in python

In [ ]:
**kwargs - This will act like a dictionary in python

In [91]:
d = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 4
}

In [92]:
type(d)

dict

In [93]:
d["a"]

1

In [94]:
d["b"]

2

In [95]:
d.get("c")

3

In [96]:
d.get("d")

4

In [97]:
print(d.get("e"))

None

In [98]:
d.get("e", "N/A")

'N/A'

In [99]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [100]:
for key, value in d.items():
    print(f"{key} :{value}")

a :1
b :2
c :3
d :4

In [101]:
def func2(**kwargs):
    print(kwargs, type(kwargs))

    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
    return kwargs

In [102]:
func2(name="Sarthak", age=23)

{'name': 'Sarthak', 'age': 23} <class 'dict'>
name: Sarthak
age: 23

{'name': 'Sarthak', 'age': 23}

In [103]:
d2 = func2(name="Aditi", age=25, email="aditi@gmail.com", location="Pune")

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'} <class 'dict'>
name: Aditi
age: 25
email: aditi@gmail.com
location: Pune

In [104]:
d2

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'}

### practical example of kwargs

In [105]:
def create_user(**kwargs):

    if "username" not in kwargs:
        raise ValueError("username should be available while creating a user")
    
    profile = {
        "username": kwargs["username"],
        "Full Name": kwargs.get("full_name", "N/A"),
        "Email": kwargs.get("email", "N/A"),
        "City": kwargs.get("city", "N/A"),
        "Blood Group": kwargs.get("blood_group", "N/A") 
    }
    return profile

In [106]:
u1 = create_user(
    username="Sarthak3",
    full_name= "sarthak More",
    city = "Nashik"
)

In [107]:
u1

{'username': 'Sarthak3',
 'Full Name': 'sarthak More',
 'Email': 'N/A',
 'City': 'Nashik',
 'Blood Group': 'N/A'}

In [109]:
u2 = create_user(
    username = "ramanv4",
    full_name = "Raman Verma",
    email = "raman@gmail.com",
    blood_group = "A+ve"
)

In [110]:
u2

{'username': 'ramanv4',
 'Full Name': 'Raman Verma',
 'Email': 'raman@gmail.com',
 'City': 'N/A',
 'Blood Group': 'A+ve'}

In [111]:
u3 = create_user(
    full_name = "Rahul Sharma",
    city= "Pune"
)

ValueError: username should be available while creating a user

In [112]:
u3

NameError: name 'u3' is not defined

In [113]:
u4 = create_user(
    username = "rahuls1",
    full_name = "Rahul Sharma",
    email = "rahuls@test.com",
    city = "Pune",
    blood_group = "B+ve"
)

In [114]:
u4

{'username': 'rahuls1',
 'Full Name': 'Rahul Sharma',
 'Email': 'rahuls@test.com',
 'City': 'Pune',
 'Blood Group': 'B+ve'}