#### class in oop

In [1]:
a = 34
print(type(a))

<class 'int'>

In [2]:
b = 23
print(type(b))

<class 'int'>

In [3]:
c = 23.4
print(type(c))

<class 'float'>

In [4]:
d = "seema"
print(type(d))

<class 'str'>

In [5]:
e = False
print(type(e))

<class 'bool'>

In [6]:
d = [1,2,3,4]
print(type(d))

<class 'list'>

In [7]:
e = (1,2,3,4)
print(type(e))

<class 'tuple'>

In [8]:
d = {
    "a":1,
    "b":2,
    "c": 3
}
print(type(d))

<class 'dict'>

In [26]:
import pandas as pd

In [27]:
emp = {
    "id":[1, 2, 3],
    "name":["Sarthak", "Raman", "Rahul"],
    "Salary":[35000, 20000, 15000]
}
type(emp)

dict

In [28]:
emp_df = pd.DataFrame(emp)
emp_df

   id     name  Salary
0   1  Sarthak   35000
1   2    Raman   20000
2   3    Rahul   15000

In [29]:
print(type(emp_df))

<class 'pandas.core.frame.DataFrame'>

### Attributes

1.shape
2.contains
3.index
4.dtypes
5.values

In [30]:
emp_df.shape

(3, 3)

In [31]:
emp_df.columns

Index(['id', 'name', 'Salary'], dtype='object')

In [32]:
emp_df.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
emp_df.dtypes

id         int64
name      object
Salary     int64
dtype: object

In [34]:
emp_df.values

array([[1, 'Sarthak', 35000],
       [2, 'Raman', 20000],
       [3, 'Rahul', 15000]], dtype=object)

### Function / method

In [35]:
# incorrect
emp_df.info

<bound method DataFrame.info of    id     name  Salary
0   1  Sarthak   35000
1   2    Raman   20000
2   3    Rahul   15000>

In [36]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [38]:
emp_df.sort_values(by="Salary", ascending= False)

   id     name  Salary
0   1  Sarthak   35000
1   2    Raman   20000
2   3    Rahul   15000

### creating a user defined class

## self is any object of class person

In [41]:
class Person:
    # Create a constructor function to define attributes
    def __init__(self, name: str, age: int, gender: str, occupation: str) -> None:
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # Create a method for class
    def introduce(self):   
        print(f"Hi my name is : {self.name}")
        print(f"My age is {self.age} years")
        print(f"I am {self.gender}")
        print(f"I work as {self.occupation}")

In [42]:
p1 = Person(name="Sarthak", age=25, gender="male", occupation="HR")
print(type(p1))

<class '__main__.Person'>

In [ ]:
###

### __main__means current file which i am working

P1

In [44]:
p1

In [45]:
p1.name

'Sarthak'

In [46]:
p1.age

25

In [47]:
p1.gender

'male'

In [48]:
p1.occupation

'HR'

In [49]:
p1.introduce()

Hi my name is : Sarthak
My age is 25 years
I am male
I work as HR

In [50]:
p2 = Person(name="Aditi", age=23, gender="Female", occupation="Engineer")
type(p2)

__main__.Person

In [51]:
p2.name

'Aditi'

In [52]:
p2.age

23

In [53]:
p2.gender

'Female'

In [54]:
p2.occupation

'Engineer'

In [56]:
p2.introduce()

Hi my name is : Aditi
My age is 23 years
I am Female
I work as Engineer